
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <style>

    html {
        background-image: url('@Url.Content("~/images/tomatocafe.jpg")');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 50%;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
    </style>

    </div>
