<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tomato Pizza Cafe </title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <style>

        .navbar {
            background-color: darkolivegreen;
        }

        .navbar.navbar-inverse.navbar-fixed-top::after,
        .navbar.navbar-inverse.navbar-fixed-top::before {
                color: darkolivegreen;
            }

        .navbar.navbar-inverse.navbar-fixed-top ul li a {
            color: white;
        } 

        .navbar.navbar-inverse.navbar-fixed-top a:hover {
             display: inline-block;
             vertical-align: middle;
             -webkit-transform: perspective(1px) translateZ(0);
             transform: perspective(1px) translateZ(0);
             box-shadow: 0 0 1px rgba(0, 0, 0, 0);
             position: relative;
             background: #146054;
             -webkit-transition-property: color;
             transition-property: color;
             -webkit-transition-duration: 0.3s;
             transition-duration: 0.3s;
        }

        .navbar.navbar-inverse.navbar-fixed-top:before {
             content: "";
             position: absolute;
             z-index: -1;
             top: 0;
             left: 0;
             right: 0;
             bottom: 0;
             background: #e1e1e1;
            -webkit-transform: scale(1);
             transform: scale(1);
            -webkit-transition-property: transform;
             transition-property: transform;
            -webkit-transition-duration: 0.3s;
             transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
             transition-timing-function: ease-out;
        }

        .navbar.navbar-inverse.navbar-fixed-top:hover, 
        .navbar.navbar-inverse.navbar-fixed-top:focus, 
        .navbar.navbar-inverse.navbar-fixed-top:active {
            color: white;
        }

        .navbar.navbar-inverse.navbar-fixed-top:hover:before, 
        .navbar.navbar-inverse.navbar-fixed-top:focus:before, 
        .navbar.navbar-inverse.navbar-fixed-top:active:before {
            transform: scale(0);
        }

    </style>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Tomato Pizza Cafe</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Pizzas" asp-action="Index">Menu</a></li>
                    <li><a asp-area="" asp-controller="MakeYourOwns" asp-action="Index">Make Your Own</a></li>
                    <li><a asp-area="" asp-controller="Toppings" asp-action="Index">Toppings</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
       
        <footer>
            <p>&copy; 2018 - Tomato Pizza Cafe</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
