@model TomatoPizzaCafe.Models.Pizza

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <style>

    html {
        background-image: url('@Url.Content("~/images/tomatocafe.jpg")');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 50%;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
    </style>

</div>
<h1 style="font-family: 'Brush Script MT'; font-size: 40px; text-align:center; color: brown">Order Online</h1>

<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h4>Order Form</h4>
    </div>
    
    <div class="panel-body">
        <form class="col-md-6" asp-action="Order">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PizzaId" />
            <div>
               <h4 style="color:darkgreen; font-weight: bold">Select the @ViewBag.pizza.Type size</h4> 
            <br />
            </div>
            <input type="radio" name="prices" asp-for="EightInchPrice" value="8" tabindex="2" />
            8-inch  -  $@ViewBag.pizza.EightInchPrice
            <br />
            <input type="radio" name="prices" asp-for="TenInchPrice" value="10" tabindex="2" />
            10-inch  -  $@ViewBag.pizza.TenInchPrice
            <br />
            <input type="radio" name="prices" asp-for="TwelveInchPrice" value="12" tabindex="2" />
            12-inch  -  $@ViewBag.pizza.TwelveInchPrice
            <br />
            <input type="radio" name="prices" asp-for="FourteenInchPrice" value="14" tabindex="2" />
            14-inch  -  $@ViewBag.pizza.FourteenInchPrice
            <br />
            <input type="radio" name="prices" asp-for="EighteenInchPrice" value="18" tabindex="2" />
            18-inch  -  $@ViewBag.pizza.EighteenInchPrice
            <br />
            <hr />
            <div class="form-group">
                <input type="submit" value="Order" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
