
@{
    ViewData["Title"] = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <style>

    html {
        background-image: url('@Url.Content("~/images/tomatocafe.jpg")');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 50%;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
    </style>
    <h1 style="font-family: 'Brush Script MT'; font-size: 40px; text-align: start; color: brown">Thanks for your Order!</h1>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


