@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@
<main>

    <h1 style="font-family: 'Brush Script MT'; font-size: 40px; text-align:center; color: brown">About</h1>
  
    <div class="col-md-1">
        
    </div>
    <div class="about">
    <div class="col-md-10">
        <div>
            <div class="pull-left">

                <img class="hover-zoom" width="50" src="~/images/tomato.png" />
            </div>
        </div>

        <style>

            .pull-left {
                padding-right: 5px;
            }
            
            html {
                background-image: url('/images/tomatocafe.jpg');
                background-position: left;
                background-repeat: no-repeat;
                background-size: auto;
                height: 50%;
                padding: 5px;
            }

            footer {
                position: fixed;
                bottom: 0;
            }
        </style>


        <section>

            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> The Guys from the Tomato Café (Scott, Sean & Vin) were an American vaudeville and comedy act active from 1928 until 1970, best known for their 190 short-subject films that are still syndicated on television. Many scholarly studies of motion picture comedy have overlooked these Stooges entirely – and not without valid reasoning. Aesthetically, these “Stooges” violated every rule that constitutes "good" comedic style. Their characters lacked the emotional depth of Charlie Chaplin and Harry Langdon; they were never as witty or subtle as Buster Keaton. They were not disciplined enough to sustain lengthy comic sequences; far too often, they were willing to suspend what little narrative structure their pictures possessed in order to insert a number of gratuitous jokes. Nearly every premise they have employed (spoofs of westerns, horror films, costume melodramas) has been done to better effect by other comedians. And yet, in spite of the overwhelming artistic odds against them, they were responsible for some of the finest comedies ever made. Their humor was the most undistilled form of low comedy; they were not great innovators, but as quick laugh practitioners, they place second to none. If public taste is any criterion, the Stooges have been the reigning kings of comedy.</p>

        </section>
        <section>
            <div class="pull-left">

                <img class="hover-zoom" ; width="50" src="~/images/tomato.png" />
            </div>
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">  In 2009, they opened their first restaurant in Fishkill, NY. In 2017, the second location opened in Poughkeepsie. They continue to surround themselves with like minded individuals.</p>
            </>
        </section>
    </div>
        </div>
    
</main>
    
