@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"]</h2>*@
<h3>@ViewData["Message"]</h3>

<h1 style="font-family: 'Brush Script MT'; font-size: 36px; color: brown">Find Us</h1>
<main>
<div class="container">
    <style>

    html {
        background-image: url('@Url.Content("~/images/tomatocafe.jpg")');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 50%;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
    </style>
    </div>

<address>
    The Tomato Cafe<br />
    15 Collegeview Avenue

    Poughkeepsie, NY 12603<br />

    <abbr title="Phone">P:</abbr>
    845-473-7779
</address>
<h3 style="font-family: 'Brush Script MT'; font-size: 36px; color:brown">Hours</h3>
    <h5>Monday - Thursday 11am - 9pm, 

    Friday & Saturday 11am - 10pm,

    Sunday CLOSED</h5>

    <address>
        <strong>Questions:</strong> <a href="mailto:Questions@tomatocafe.com">Questions@tomatocafe.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@tomatocafe.com">Marketing@tomatocafe.com</a>
    </address>

</main>
