@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Here at Tomato Pizza Cafe we take note of your orders so we can be prepared for your needs that much faster. 
    You, freshness, and quality are our only priorities. :)</p>
